@font-face {
    font-family: 'Ultramagnetic-Bold';
    src: url('Ultramagnetic Bold.ttf')  format('truetype')
  }

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

body {
    user-select: none;
    background-color: #dad4c7;
    color: #dad4c7;
    text-align: center;
    font-family: sans-serif;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
  }

h1 {
    font-size: 26px;
    padding: 10px;
    font-family: Ultramagnetic-Bold, sans-serif;
}

h2 {
    font-size: 20px;
    padding: 10px;
}

h3 {
    width: 180px;
    font-family: Ultramagnetic-Bold, sans-serif;
    font-size: 1em;
    line-height: 1em;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    font-size: 3em;
}

.arrow {
    width: 60px;
    opacity: 0.3;
}

.arrow:hover {
    opacity: 1;
}

.arrow:active {
    scale: 0.95;
    transition: 0.1s;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #006f43;
    border: 3px solid #006f43;
    padding: 20px;
    gap: 20px;
    border-radius: 16px;
}

button {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #dad4c7;
    font-family: inherit;
    font-size: 18px;
    transition: all 0.8s ease;
    position: relative;
    border: 0;
    border-radius: 10px;
    margin: 0 auto;
}
  
button::before,
button::after {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
}

button:active {
    transition: .1s;
    scale: 0.975;
}

.button-hover {
    overflow: hidden;
}

.button-hover:after {
    left: -100%;
    clip-path: polygon(10% 0, 70% 0, 90% 100%, 30% 100%);
    background-color: rgba(255, 255, 255, 0.15);
    transition: all 300ms ease;
}
  
.button-hover:hover::after {
    left: 100%;
}

select {
    text-align: center;
    appearance: none;
    width: 100%;
    padding: 14px 0;
    border-radius: 10px;
    font-size: 18px;
}

.nocorners {
    background-color: #dad4c7;
}

.container {
    position: relative;
    background-color: #000;
    max-width: 350px;
    margin: 0 auto;
}

.logo-container {
    padding: 30px 0 10px 0;
    border-left: 14px solid #dad4c7;
    border-right: 14px solid #dad4c7;
}

.labb-logo {
    width: 100%;
    padding: 0 25%;
    margin: 0 auto;
    object-fit: cover;
    filter: invert(95%) sepia(9%) saturate(316%) hue-rotate(357deg) brightness(93%) contrast(83%);
}

.border-container {
    border-left: 14px solid #dad4c7;
    border-right: 14px solid #dad4c7;
    padding: 10px 0 24px 0;
}

.replace {
    height: 50px;
    width: 100%;
    position: relative;
}

.activity {
    width: 100%;
}

.weight {
    width: 100%;
}

.result {
    display: none;
}

.amount {
    font-weight: bold;
    font-size: 20px;
    color: #006f43;
}

.FK-container {
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    gap: 30px;
}

.pose {
    max-width: 100%;
}

.FK {
    max-width: 80%;
    margin: auto 20px;
}

.runningdog {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 265px;
    left: 25px;
    width: 300px;
    height: 100px;
    z-index: 3;
    overflow: hidden;
}

.dogs {
    width: 130px;
}

/* ******************************************************************* */

.inputcontainer {
    height: 50px;
    width: 100%;
    position: relative;
}
  
.ic1 {
    margin-top: 0px;
}
  
.ic2 {
    margin-top: 4px;
}
  
.input {
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
    border: 0;
    color: #333;
    font-size: 18px;
    height: 100%;
    outline: 0;
    width: 100%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.cut {
    background-color: #006f43;
    border-radius: 10px;
    height: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 62%;
    margin: 0 19%;
}

.cut-voksen {
    background-color: #00538a;
}

.cut2 {
    width: 45%;
    margin: 0 27.5%;
}

.cut-short {
    width: 50px;
}
  
.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
    transform: translateY(8px);
}
  
.placeholder {
    left: 0;
    right: 0;
    color: rgb(0, 0, 0);
    line-height: 14px;
    font-size: 18px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
}
  
.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-30px) translateX(12%) scale(0.75);
}
  
.input:not(:placeholder-shown) ~ .placeholder {
    color: #dad4c7;
}
  
.input:focus ~ .placeholder {
    color: #ff7d7d;
}

/* ************************************************************ */

